@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');

html,
body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}

.app {
  background: #272a37;
  color: white;
  display: grid;
  justify-content: stretch;
  align-items: stretch;
  gap: 30px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    'list card'
    'list form';
  padding: 10px;
  min-height: 100vh;
}

.list {
  grid-area: list;
  width: 100%;
}

.list-table {
  width: 100%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: card;
  min-width: 100%;
}

.info {
  width: 100%;
}

.form {
  grid-area: form;
}

table td,
table th {
  padding: 5px;
}

table tr {
  background-color: #4660f7;
}

table tr:hover {
  background-color: #1e2a6c;
}

.list-table:hover {
  cursor: pointer;
}

table th {
  padding: 6px 12px;
  text-align: left;
  background-color: #ff4820;
  color: white;
}

.lds-dual-ring {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  width: 70%;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
