.Form {
  display: grid;
  grid-template-rows: repeat(4, minmax(90px, 100px));
  grid-template-areas:
    'name name'
    'salary salary'
    'age age'
    'submit update';
  gap: 5px;
}
.Form-FormField-name {
  display: flex;
  grid-area: name;
}
.Form-FormField-salary {
  display: flex;
  grid-area: salary;
}
.Form-FormField-age {
  display: flex;
  grid-area: age;
}
.Form-button-submit {
  grid-area: submit;

  border: none;
  background-color: #555b69;
  color: #fff;
  border-radius: 3vw;
  font-weight: 400;
  font-size: 1.3rem;
  font-family: Poppins;
  padding: 20px 45px;
}

.Form-button-update {
  grid-area: update;

  border: none;
  background-color: #555b69;
  color: #fff;
  border-radius: 3vw;
  font-weight: 400;
  font-size: 1.3rem;
  font-family: Poppins;
  padding: 25px 45px;
}
