.Form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'title title title'
    'name name name'
    'salary salary salary'
    'age age age'
    'submit update cancel';
  gap: 20px;
  height: 100%;
}
.Form-FormField-name {
  display: flex;
  grid-area: name;
}
.Form-FormField-salary {
  display: flex;
  grid-area: salary;
}
.Form-FormField-age {
  display: flex;
  grid-area: age;
}

.Form-button {
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 3vw;
  font-weight: 400;
  font-size: 1.3rem;
  font-family: Poppins;
  padding: 20px 40px;
}

.Form-button-cancel {
  grid-area: cancel;
  background-color: #555b69;
}

.Form-button-cancel:hover {
  background-color: #3f4450;
}

.Form-button-update {
  grid-area: update;
  background-color: #1779ce;
}

.Form-button-update:hover {
  background-color: #105694;
}

.Form-button-submit {
  grid-area: submit;
  background-color: #1779ce;
}

.Form-button-submit:hover {
  background-color: #105694;
}

.Form-h1-title {
  grid-area: title;
  position: relative;
  left: 20px;
}
